service smart_charger /vendor/bin/smart_charger
    class main
    user root

on property:vold.decrypt=trigger_restart_framework


on boot
    # CABC feature
    chown system system /sys/class/graphics/fb0/cabc_mode
    # HBM feature
    chown system system /sys/class/graphics/fb0/hbm
    # ACL feature
    chown system system /sys/class/graphics/fb0/acl_mode
    # Seed feature
    chown system system /sys/class/graphics/fb0/color_profile

    # Double tap
    chown system system /sys/board_properties/tpd_suspend_status
    chmod 0664 /sys/board_properties/tpd_suspend_status

    #USB controller configuration
    write /sys/module/g_android/parameters/mtp_tx_req_len 131072
    write /sys/module/g_android/parameters/mtp_rx_req_len 131072
    write /sys/class/android_usb/android0/f_rndis_qc/rndis_transports BAM2BAM_IPA
    setprop sys.usb.rndis.func.name "rndis_bam"
    setprop sys.usb.rmnet.func.name "rmnet_bam"
    setprop sys.usb.rmnet.inst.name "rmnet"
    setprop sys.usb.dpl.inst.name "dpl"


on post-fs
    # Proximity and Light sensor
    chown system system /sys/devices/platform/elan_alsps/ps_enable
    chmod 0660 /sys/devices/platform/elan_alsps/ps_enable
    chown system system /sys/devices/platform/elan_alsps/als_enable
    chmod 0660 /sys/devices/platform/elan_alsps/als_enable
    chown system system /sys/devices/platform/elan_alsps/set_delay_ms
    chmod 0660 /sys/devices/platform/elan_alsps/set_delay_ms

    # G-sensor autocalibration
    chown system system /persist/GSSET.txt
    chmod 0660 /persist/GSSET.txt


    chown mot_tcmd root /sys/class/power_supply/ext-charger/charge_enabled
    chmod 0664 /sys/class/power_supply/ext-charger/charge_enabled
    chown mot_tcmd root /sys/class/power_supply/ext-charger-dual/charge_enabled
    chmod 0664 /sys/class/power_supply/ext-charger-dual/charge_enabled
    chown mot_tcmd root /sys/class/power_supply/ext-charger/battery_charging_enabled
    chmod 0664 /sys/class/power_supply/ext-charger/battery_charging_enabled
    chown mot_tcmd root /sys/class/power_supply/ext-charger-dual/battery_charging_enabled
    chmod 0664 /sys/class/power_supply/ext-charger-dual/battery_charging_enabled
    chown mot_tcmd root /sys/class/power_supply/ext-charger/current_max
    chmod 0664 /sys/class/power_supply/ext-charger/current_max
    chown mot_tcmd root /sys/class/power_supply/ext-charger-dual/current_max
    chmod 0664 /sys/class/power_supply/ext-charger-dual/current_max
    chown mot_tcmd root /sys/class/power_supply/ext-charger/input_current_max
    chmod 0664 /sys/class/power_supply/ext-charger/input_current_max
    chown mot_tcmd root /sys/class/power_supply/ext-charger-dual/input_current_max
    chmod 0664 /sys/class/power_supply/ext-charger-dual/input_current_max
    chown mot_tcmd root /sys/class/power_supply/ext-charger/current_max
    chmod 0664 /sys/class/power_supply/ext-charger/current_max
    chown mot_tcmd root /sys/class/power_supply/battery/device/force_chg_fail_clear
    chmod 0664 /sys/class/power_supply/battery/device/force_chg_fail_clear
    chown mot_tcmd root /sys/class/power_supply/ext-charger/usb_otg
    chmod 0664 /sys/class/power_supply/ext-charger/usb_otg
