service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.0-service.kuntao
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid sdcard_rw
    writepid /dev/cpuset/system-background/tasks
    disabled

service vendor.vfmService /vendor/bin/vfmService
    class core
    user system
    group system input uhid sdcard_rw
    writepid /dev/cpuset/system-background/tasks
    disabled

on boot
    chmod 0660 /dev/vfsspi
    chown system system /dev/vfsspi
    mkdir /dev/validity 0775 system system
    chmod 0660 /sys/bus/platform/devices/soc:fingerprint@0/shutdown
    chown system system /sys/bus/platform/devices/soc:fingerprint@0/shutdown
    setprop persist.vendor.fp.gesture 1
    start vendor.vfmService

on property:vendor.sys.listeners.registered=true
    setprop persist.vendor.fp.gesture 1
    start vendor.vfmService

on property:vold.decrypt=trigger_restart_framework
    setprop persist.vendor.fp.gesture 1
    start vendor.vfmService

on post-fs-data
    #Create directories for Fingerprint
    mkdir /data/validity 0775 system system
    start vendor.fps_hal
