type adbroot, domain, coredomain;
type adbroot_exec, exec_type, file_type, system_file_type;
type adbroot_data_file, file_type, data_file_type, core_data_file_type;
type adbroot_service,   service_manager_type;

init_daemon_domain(adbroot)

binder_use(adbroot)
binder_service(adbroot)
add_service(adbroot, adbroot_service)

allow adbroot adbroot_data_file:dir rw_dir_perms;
allow adbroot adbroot_data_file:file create_file_perms;

allow adbroot device:dir rw_dir_perms;
allow adbroot device:file create_file_perms;
