neverallow webview_zygote {
    app_data_file
    privapp_data_file
    system_app_data_file
    bluetooth_data_file
    nfc_data_file
    radio_data_file
    shell_data_file
}:file { rwx_file_perms };
